/* body{
    background-image: url(img/background-inked-mariposa.jpg);
    background-position: 0%;
} */

.background-img{
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    z-index: -1;
    left: -24%;
    will-change: transform;
}

h1{
    text-align: center;
    font-family: "sheila", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: beige;
}

@media only screen and ( max-width: 770px) {
    nav{
        height: 4em;
    }

    h1{
        font-size: 2.5em;
    }

    .wrapper{
        box-sizing: content-box;
        display: flex;
        flex-wrap: wrap;
    }

    .row{
        display: flex;
        width: 100%;
        margin: 0.75% 10%;
    }
    
    .col {
        width: 33.33333333%;
        display: flex;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        justify-content: center;
    
    }

    .round-button{
        max-width: 40%;
    }

    .center-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 10%;
        position: absolute;
    }

    .center-button{
        width: 60%;
    }

}


@media only screen and ( max-width: 480px) {

}