html, body {
    background-image: url(img/vanessa-website-background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

.heading{
    margin: 4% 0 2% 0;
    font-size: 2.2em;
    text-align: center;
    font-family: "sheila", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: beige;
}

.container {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    width: 100%;
    margin: 0.75% 10%;
}

.col{
    width: 33.33333333%;
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: center;

}

.gallery-img {
    max-width: 80%;
    opacity: 80%;
}

.center-wrapper{
    width: 100%;
    display: flex;
    bottom: 10%;
    position: absolute;
    flex-wrap: wrap;
}

.col-center{
    display: flex;
    justify-content: center;
}

.center-button{
    width: 40%;
    opacity: 80%;
    margin: 5% 0 0 0;
}

a{
    display: contents;
}


@media only screen and (max-width: 770px) {

    
}