.background-img{
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    z-index: -1;
    left: -24%;
    will-change: transform;
}

.heading{
    text-align: center;
    font-family: "sheila", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: beige;
}

.container {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    width: 100%;
    margin: 0.75% 10%;
}

.col{
    width: 33.33333333%;
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: center;

}

.gallery-img {
    max-width: 80%;
    opacity: 80%;
}

.center-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10%;
    position: absolute;
}

.center-button{
    width: 60%;
    opacity: 80%;
}


@media only screen and (max-width: 770px) {
    .heading{
        text-align: center;
        font-size: 2.5em;
        margin: 0 0 2% 0;
    }
    
    .container {
        box-sizing: content-box;
        display: flex;
        flex-wrap: wrap;
    }
    
    .row{
        display: flex;
        width: 100%;
        margin: 0.75% 10%;
    }
    
    .col{
        width: 33.33333333%;
        display: flex;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        justify-content: center;
    
    }
    
    .gallery-img {
        max-width: 80%;
    }
    
}